<nav style="padding: 1rem; background: #333; color: #fff;">
  <a href="/" style="color: #fff; margin-right: 1rem;">Dashboard</a>
  <a href="/logs" style="color: #fff; margin-right: 1rem;">System Logs</a>
  <a href="/users" style="color: #fff; margin-right: 1rem;">User Management</a>
  <a href="/config" style="color: #fff;">System Config</a>
</nav>
