---
import { STARTER_PAGE_HEADING, STARTER_PAGE_TITLE } from '@goldshore/config/starter';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{STARTER_PAGE_TITLE}</title>
	</head>
	<body>
		<h1>{STARTER_PAGE_HEADING}</h1>
	</body>
</html>
