---
import '@goldshore/theme/tokens';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Goldshore Admin Dashboard" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Goldshore Admin</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
