---
import SectionHero from './SectionHero.astro';
import SectionGrid from './SectionGrid.astro';
import SectionCTA from './SectionCTA.astro';
import SectionFAQ from './SectionFAQ.astro';

const { sections = [] } = Astro.props;
---
<div class="section-renderer">
  {sections.map((section) => {
    switch (section.type) {
      case 'hero':
        return <SectionHero {...section} />;
      case 'grid':
        return <SectionGrid {...section} />;
      case 'cta':
        return <SectionCTA {...section} />;
      case 'faq':
        return <SectionFAQ {...section} />;
      default:
        return null;
    }
  })}
</div>

<style>
  .section-renderer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
