---
const { title = 'GoldShore' } = Astro.props;
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
