---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import AdminSidebar from "../components/AdminSidebar.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={`${title} | Goldshore Admin`} description="Goldshore administrative command center" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
  </head>
  <body class="bg-slate-50 dark:bg-slate-900 antialiased text-slate-900 dark:text-slate-100">
    <Header />
    <div class="flex h-screen pt-16 overflow-hidden">
      <AdminSidebar />
      <main class="relative w-full h-full overflow-y-auto lg:ml-64 bg-slate-50 dark:bg-slate-900">
        <div class="px-4 pt-6"><slot /></div>
      </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  </body>
</html>
